
body{
   
    font-family:"Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
}
nav{
    background-color:#235a81;
    color: aliceblue;
    font-family:"Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
}
footer{
    background-color: #eceded;
    color:#666 ;
    font-size:11px;
    line-height: 1.1rem;
    letter-spacing: normal;
font-family:"Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
    margin-bottom: 0;
    overflow: auto;
    


}
footer a{
 text-decoration: none;
 color: #666;
 align-items: center;
}
h1,h2,h3,h4,h5, .logolink{
    color: #377796;
}
.left-footer , .foot , .newsletter{
    display: grid;
    place-items: center;
}

footer  li{
list-style:none;

}

.newsletter{
    background-color: #5b5b5b;
  font-size:14px;
    line-height: 1.1rem;
    letter-spacing: normal;
font-family:"Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
    margin-bottom: 0; 
    margin-top: 2rem;

}
.newsletter p{
    color: #fff;
    font-size:1.2rem;
    text-transform: lowercase;
    font-weight: 100;
}
.subscribe{
    background-color: #377796;
}
.main{
    /* height:70% !important; */
    place-content: center;
    font-size:16px;
    line-height: 1.1rem;
    letter-spacing:normal;
    font-family:"Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
}
.log-In ,.sign-up {
    height: 100%;
    place-content: center;
    display: grid;
    background-color: #fffffc;
}
.top-heading{
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem;
    text-transform: uppercase;
   
}

.form-signin.log-In form , .sign-up form {
    display: grid;
    grid-template-rows:auto;
    align-items: center;
    justify-content:center;
}

.sign-container{
    display: grid;
    place-items:center;
    border: rgb(238, 232, 232) solid 1px;
    padding: 3rem;
    border-radius: 2px;
     box-shadow: 0px 0 6px 0px inset #8ea4b9; 
     flex-shrink: inherit;
     margin: 2rem;
     box-sizing: border-box;

}
.sign-container h3{
    padding:0 1rem 2rem 1rem;
    font-size: 30.8px;
}
.sign-container form input{
    margin: 1rem 2rem;
    border: rgb(173, 190, 190) 1px solid;
      border-radius: 2px;
      padding: .2em;
      background-color:lightgray !important   ;

}
.sign-container form input.login-button{
   
    background-color: #377796 !important;
    border-radius: 2px;
    border: rgb(228, 220, 220) 1px ;
    padding: .4em;
    color:#d8e5f1;
     transition: 300ms;
}
.sign-container form a.link-up{   
    background-color: #377796 !important;
    border-radius: 2px;
    border: rgb(228, 220, 220) 1px ;
    padding: .4em;
    color:#d8e5f1;
    text-decoration: none;
    margin-top: 1rem;
     transition: 500ms;
}
.sign-container form a.link-up:hover,.sign-container form input.login-button:hover{
    font-size: 14px;
    font-weight: 600;
   
}
.error-feedback{
    color: #dc3545;
    text-align: center;
}
.avail-feedback{
    color: green;
    text-align:center;
}
.sign-container form a{
    font-size:12px;
    color:#377796;
    text-align: center;
    margin-top: 0;
}
.sign-container form p{
    font-size:16px;
    color:#377796;
}
.sides{
    padding: 0 8px;
}
.logo{
    font-size:2rem;
    line-height: 0rem;
    letter-spacing: normal;
font-family:"Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
text-decoration:overline;
color: lightgray;
text-align: center;
font-weight: 700;
font-style:italic;
padding-left: 1rem;
}
.logolink{
    font-style: italic;
    text-decoration: overline;
}
.logo:hover, .logolink:hover{
    color: rgb(185, 185, 185);
}
.sign-up .top-heading{
    font-size: 1rem;
    padding-top: 3rem;
}
.profile{
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;

}

.tab {
  display: inline-block;
     font-style:normal;
     text-decoration: none;
     border:1px rgb(177, 174, 174) solid;
     background-color: black;
       color: rgb(255, 253, 246);
    padding: 1rem;
}

.active {
  background-color:#fff;
  color: #000;
}

.tab-panel {
  
  border: 1px solid rgb(233, 215, 215);
   padding: 1rem;
   size: 40vh 50vw;
    place-items: center;
}

.hidden {
  display:none;
}
.tab-list{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
       
}

/* Sidebars */
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
  .booksmain{
      display: grid;
      grid-template-columns: .5fr 3.5fr;
      padding: 2rem 1rem;
  }
  .booksmain aside{
    background-color:  #eceded;
  }
  .kards{
      display: grid;
      border: solid 1px #d8e5f1;
      margin: 1rem;
      padding: 1rem;
      flex:0 1 200px;
      border-radius: 3px;
      font-size:13px;
      line-height: 0;
      text-transform: capitalize;
      /* font-weight: 600; */
      /* place-content: center; */
}
.borderz{
    padding:2rem;

}
.borderz div{
    display:grid;
    

}
.semi-borderz{
    display: grid;
    place-content:center;
    grid-template-columns: 2fr 2fr;
}
.allbooks-main{
    place-content: center;
    font-size:16px;
    line-height: 1.1rem;
    letter-spacing:normal;
    font-family:"Open Sans Light", "Segoe UI Light", "Segoe UI", sans-serif;
}
.display-books{
    display: flex;
/* background-color: blanchedalmond; */
flex-direction: row;
padding: 2rem;
flex-wrap: wrap;
justify-content: left;
margin-top: 1rem;
}
.picture{
    margin-bottom: .5rem;
}
.cart-button{
    text-decoration: none;
    border: white solid 1px;
    padding: 1rem;
    text-align: center;
    border-radius:2px;
    background-color: #377796;
    color: #d8e5f1;
    border: solid 1px #f6fafa;

    
}
.cart-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start
}
.display-none{
    background-color:transparent;
    color: transparent;
    border: solid 1px #f6fafa;
}
.display-none:hover,.cart-button:hover,.search-button:hover,#allbooks:hover{
    color: #377796;
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    
}
#form-search{
    width: 50%;
}
#search{
    border: 1px solid #666;
    width: 80%;
    border-radius: 2px;
    padding:  2px 4px 2px;
    text-align: center;
    background:transparent;
    outline: none;
    opacity: 0.7;
    color:#666;
    transition: 0.5s;
}
#search:focus{
    width: 95%;
}
.with-search{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
 .search-button{
    text-decoration: none;
    border:#377796 solid 1px;
    padding: 2px 4px 2px;
    text-align: center;
    border-radius:3px;
    background-color: #377796;
    color: #d8e5f1;
    margin-left: 3px;

    
    }
    #borders{
    padding:0 1rem;
    }
    .right-content{
        justify-content: right;
    }
    .Allbooks{
     display: grid;
     justify-content: center;
    }
    .myTable{
        border: 1px solid #b4c4cc;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .text-align-center{
        text-align: center;
    }

    .table-data td{
        border: #b4c4cc 1px solid;
        padding: .5rem;
    }
    .Allbooks th{
        border: #b4c4cc 1px solid;
    }